<launch>
	<node name="spline_optimization_example" pkg="ewok_optimization" type="spline_optimization_example3" output="screen">
		<!--<rosparam param="x_pos">[1.0, 20.0, 1.0, 20.0, 1.0]</rosparam> 
		<rosparam param="y_pos">[1.0, 1.0, 1.0, 1.0, 1.0]</rosparam> 
		<rosparam param="z_pos">[5.0, 5.0, 5.0, 5.0, 5.0]</rosparam>-->

		<rosparam param="x_pos">[1.0, 20.0, 1.0]</rosparam> 
		<rosparam param="y_pos">[1.0, 1.0, 1.0]</rosparam> 
		<rosparam param="z_pos">[5.0, 5.0, 5.0]</rosparam>

		<param name="number_of_target" type="int" value="3"/>
		<param name="target_error" type="double" value="1.0"/>
	</node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ewok_optimization)/rviz/optimization_example.rviz" />

</launch>
